<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="@{minSdk}" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.main">
        <activity
            android:name="com.example.swob_deku.AboutActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.MessagesThreadsActivity"/>
        <activity
            android:name="com.example.swob_deku.LinkedDevicesQRActivity"
            android:exported="false">
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />
        </activity>
        <activity
            android:name="com.example.swob_deku.GatewayClientCustomizationActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.GatewayClientListingActivity" />
        <activity
            android:name="com.example.swob_deku.GatewayClientAddActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.GatewayClientListingActivity" />
        <activity
            android:name="com.example.swob_deku.GatewayClientListingActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.SettingsActivity" />
        <activity
            android:name="com.example.swob_deku.SettingsActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.MessagesThreadsActivity" />
        <activity
            android:name="com.example.swob_deku.ComposeNewMessageActivity"
            android:exported="true"
            android:parentActivityName="com.example.swob_deku.MessagesThreadsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.swob_deku.ArchivedMessagesActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.MessagesThreadsActivity" />
        <activity
            android:name="com.example.swob_deku.ImageViewActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.SMSSendActivity" />
        <activity
            android:name="com.example.swob_deku.RespondViaMessageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.swob_deku.GatewayServerListingActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.SettingsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.swob_deku.GatewayServerAddActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.GatewayServerListingActivity" />
        <activity
            android:name="com.example.swob_deku.RouterActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.DefaultCheckActivity" />
        <activity
            android:name="com.example.swob_deku.SearchMessagesThreadsActivity"
            android:exported="false"
            android:parentActivityName="com.example.swob_deku.DefaultCheckActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEARCH"/> -->
            <!-- </intent-filter> -->
            <!-- <meta-data android:name="android.app.searchable" -->
            <!-- android:resource="@xml/searchable"/> -->
            <!-- <meta-data android:name="android.app.default_searchable" -->
            <!-- android:value=".SearchMessagesThreadsActivity"/> -->
        </activity>
        <activity
            android:name="com.example.swob_deku.MessagesThreadsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.swob_deku.SMSSendActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:parentActivityName="com.example.swob_deku.MessagesThreadsActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.swob_deku.DefaultCheckActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.swob_deku.BroadcastReceivers.IncomingDataSMSBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:scheme="sms" />
                <data android:host="localhost" />
                <!-- <data android:port="8200" /> -->
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.swob_deku.BroadcastReceivers.IncomingTextSMSBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            </intent-filter>
        </receiver> <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name="com.example.swob_deku.BroadcastReceivers.MMSReceiverBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver> <!-- Activity that allows the user to send new SMS/MMS messages -->
        <receiver
            android:name="com.example.swob_deku.BroadcastReceivers.IncomingTextSMSReplyActionBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.afkanerd.deku.REPLY_BROADCAST_ACTION" />
                <action android:name="com.afkanerd.deku.MARK_AS_READ_BROADCAST_ACTION" />
                <action android:name="com.afkanerd.deku.SMS_DELIVERED_BROADCAST_INTENT" />
                <action android:name="com.afkanerd.deku.SMS_SENT_BROADCAST_INTENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.swob_deku.BroadcastReceivers.OutgoingTextSMSBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.afkanerd.deku.SMS_NEW_DATA_REGISTERED_PENDING_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.swob_deku.BroadcastReceivers.OutgoingDataSMSBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.afkanerd.deku.SMS_NEW_DATA_REGISTERED_PENDING_BROADCAST" />
                <action android:name="com.afkanerd.deku.SMS_NEW_KEY_REGISTERED_PENDING_BROADCAST" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.swob_deku.RespondViaMessageActivity"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.swob_deku.Models.RMQ.RMQConnectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.example.swob_deku.Models.Web.WebWebsocketsService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>